[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
discord-py = {ref = "master", git = "https://github.com/Rapptz/discord.py"}
cairosvg = "*"
numpy = "*"
fuzzywuzzy = "*"
python-levenshtein = "*"
python-dotenv = "*"
legofy = {git = "https://github.com/JuanPotato/Legofy.git"}
opencv-python = "*"
setuptools = "*"

[dev-packages]

[requires]
python_version = "3.9"
